.cards {
    display: inline-block;
    position: relative;
    margin: 20px;
    min-width: 400px;
    border-radius: 2%;
    font-weight: bolder;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.wrapper {
    padding: 5% 10%;
}

.c1 {
    background: linear-gradient(to right, #f9c0a3, #e5778f);
}

.c2 {
    background: linear-gradient(to right, #8dc9f6, #1188dc);
}

.c3 {
    background: linear-gradient(to right, #7fdad5, #02cfb6);
}

.content {
    font-size: 1.4rem;
}

.cash {
    font-size: 1.8rem;
}

.changes {
    font-size: 1rem;
}

.c1 .content::after {
    content: "";
    background: url(../icons_svg/line.svg) no-repeat;
    position: absolute;
    left: 330px;
    height: 30px;
    width: 30px;
}

.c2 .content::after {
    content: "";
    background: url(../icons_svg/b-mark.svg) no-repeat;
    position: absolute;
    left: 330px;
    height: 30px;
    width: 30px;
}

.c3 .content::after {
    content: "";
    background: url(../icons_svg/diamond.svg) no-repeat;
    position: absolute;
    left: 330px;
    height: 30px;
    width: 30px;
}

.cards::after {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    top: -70px;
    left: 280px;
    background-color: white;
    opacity: 0.3;
}

.cards::before {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    top: 130px;
    left: 200px;
    background-color: white;
    opacity: 0.3;
}